body {
  margin: 0;
  background-color: #c8b8db;
}
.App {
  padding: 0 0.5rem;
  padding-top: 6rem;
}
.movies-cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
@media only screen and (max-width: 600px) {

.App {
  padding: 0 ;
  padding-top: 6rem;
}
    .movies-cards-div {
  flex-direction: column;
  }
}
