.card-sec {
  cursor: pointer;
  background: #c8b8db;
  box-shadow: 20px 20px 60px #aa9cba, -20px -20px 60px #e6d4fc;
  width: 38%;
  height: 42vh;
  padding: 1rem;
  border-radius: 1rem;
}
.card-div {
  display: flex;
  flex-direction: row;
}
.card-img {
  border-radius: 0.4rem;
  width: 40%;
  height: 38vh;
  margin-right: 0.3rem;
}
.card-title {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
}
.desc-div {
  width: 100%;
  margin-left: 1rem;
}
.release-p {
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .card-sec {
    width: 90%;
  }
}
